.button {
    background-color: #008CBA;; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    margin-top:5px;
  }

  a:visited{
    color:white;
  }

  .heading {
    font-size: 1.6em;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
  }